.cat {
    border-radius: 200px;
    width: 400px;
    height: 400px;
}

.cat_1 {
    width: 400px;
    height: 400px;
    position: absolute;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    right: 60%;
}