.main_content td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 13px;
    font-family: sans-serif;
    color: #1f1f1f;
}

.main_content tr:nth-child(2n + 1) {
    background-color: #ebeff5;
}

.main_content tr:nth-child(2n-2) {
    background-color: #cdd8e8;
}